In [19]:
import json

In [20]:
fd=open("record.json",'r')
txt=fd.read()
fd.close()

In [21]:
record=json.loads(txt)

In [22]:
record

{'1001': {'Rs': 10, 'exp': '02/22', 'name': 'lays', 'quantity': 50},
 '1002': {'Rs': 10, 'exp': '02/22', 'name': 'bingo', 'quantity': 50},
 '1003': {'Rs': 10, 'exp': '02/22', 'name': 'kit kat', 'quantity': 50},
 '1004': {'Rs': 10, 'exp': '02/22', 'name': 'bar one', 'quantity': 50},
 '1005': {'Rs': 10, 'exp': '02/22', 'name': 'kurkure', 'quantity': 50},
 '1006': {'Rs': 10, 'exp': '02/22', 'name': 'munch', 'quantity': 50},
 '1007': {'Rs': 10, 'exp': '02/22', 'name': 'preak', 'quantity': 50},
 '1008': {'Rs': 10, 'exp': '02/22', 'name': 'dairy milk', 'quantity': 50},
 '1009': {'Rs': 100,
  'exp': '02/22',
  'name': 'dairy milk silk',
  'quantity': 50},
 '1010': {'Rs': 40,
  'exp': '02/22',
  'name': 'dairy milk crackle',
  'quantity': 50},
 '1011': {'Rs': 20, 'exp': '02/22', 'name': 'tomato', 'quantity': 50},
 '1012': {'Rs': 30, 'exp': '02/22', 'name': 'onion', 'quantity': 50},
 '1013': {'Rs': 30, 'exp': '02/22', 'name': 'potato', 'quantity': 50},
 '1014': {'Rs': 10, 'exp': '02/22', 'name': 'cabbage', 'quantity': 50},
 '1015': {'Rs': 100, 'exp': '02/22', 'name': 'nail polish', 'quantity': 50},
 '1016': {'Rs': 10, 'exp': '02/22', 'name': 'mint leaves', 'quantity': 50},
 '1017': {'Rs': 20, 'exp': '02/22', 'name': 'salt', 'quantity': 50},
 '1018': {'Rs': 60, 'exp': '02/22', 'name': 'sugar', 'quantity': 50},
 '1019': {'Rs': 5, 'exp': '02/22', 'name': 'lemon', 'quantity': 50},
 '1020': {'Rs': 100, 'exp': '02/22', 'name': 'apple', 'quantity': 50},
 '1021': {'Rs': 100, 'exp': '02/22', 'name': 'mango', 'quantity': 50},
 '1022': {'Rs': 50, 'exp': '02/22', 'name': 'pine apple', 'quantity': 50},
 '1023': {'Rs': 50, 'exp': '02/22', 'name': 'jack fruit', 'quantity': 50},
 '1024': {'Rs': 100, 'exp': '02/22', 'name': 'orange', 'quantity': 50},
 '1025': {'Rs': 10, 'exp': '02/22', 'name': 'baby corn', 'quantity': 50},
 '1026': {'Rs': 10, 'exp': '02/22', 'name': 'sweet corn', 'quantity': 50},
 '1027': {'Rs': 50, 'exp': '02/22', 'name': 'rice', 'quantity': 50},
 '1028': {'Rs': 50, 'exp': '02/22', 'name': 'wheat', 'quantity': 50},
 '1029': {'Rs': 40, 'exp': '02/22', 'name': 'madia', 'quantity': 50},
 '1030': {'Rs': 10, 'exp': '02/22', 'name': 'tic tac', 'quantity': 50}}

**BILLING**

In [33]:
ui_prod=input("enter the product id:")
ui_quan=int(input("enter the quanity:"))


for x,y in record[ui_prod].items():
 if(ui_prod>str(1000) and ui_prod<str(1031)):
  cus_name=input("enter the name of the customer:")
  print("      mega mart      ")
  print("------------------------")
  print("************************")
  print("customer name:"+cus_name)
  print('Product:',x,y)
  print('Quantity:'+str(ui_quan))
  print('Prize:'+str(record[ui_prod]['Rs']))
  print("--------------------------")
  total=(record[ui_prod]['Rs']*ui_quan)
  print("total amount :"+str(total))
  print("----------------------------")
  record[ui_prod]['quantity']=record[ui_prod]['quantity']-ui_quan
  break
 else:
  print("sorry!! the quantity of product available is:"+str(record[ui_prod]['quantity']))
  break

enter the product id:1002
enter the quanity:25
enter the name of the customer:harshi
      mega mart
------------------------
************************
customer name:harshi
Product: name bingo
Quantity:25
Prize:10
--------------------------
total amount :250
----------------------------

In [35]:
ui_prod=input("enter the product id:")
ui_quan=int(input("enter the quanity:"))


for x,y in record[ui_prod].items():
 if(ui_prod>str(1000) and ui_prod<str(1031)):
  cus_name=input("enter the name of the customer:")
  print("      mega mart      ")
  print("------------------------")
  print("************************")
  print("customer name:"+cus_name)
  print('Product:',x,y)
  print('Quantity:'+str(ui_quan))
  print('Prize:'+str(record[ui_prod]['Rs']))
  print("--------------------------")
  total=(record[ui_prod]['Rs']*ui_quan)
  print("total amount :"+str(total))
  print("----------------------------")
  record[ui_prod]['quantity']=record[ui_prod]['quantity']-ui_quan
  break
 else:
  print("sorry!! the quantity of product available is:"+str(record[ui_prod]['quantity']))
  break

enter the product id:1003
enter the quanity:25
enter the name of the customer:rashmi
      mega mart
------------------------
************************
customer name:rashmi
Product: name kit kat
Quantity:25
Prize:10
--------------------------
total amount :250
----------------------------

**CHANGE IN QUANTITY AFTER PURCHASING OF ITEM**

In [36]:
record

{'1001': {'Rs': 10, 'exp': '02/22', 'name': 'lays', 'quantity': 50},
 '1002': {'Rs': 10, 'exp': '02/22', 'name': 'bingo', 'quantity': 23},
 '1003': {'Rs': 10, 'exp': '02/22', 'name': 'kit kat', 'quantity': 25},
 '1004': {'Rs': 10, 'exp': '02/22', 'name': 'bar one', 'quantity': 50},
 '1005': {'Rs': 10, 'exp': '02/22', 'name': 'kurkure', 'quantity': 50},
 '1006': {'Rs': 10, 'exp': '02/22', 'name': 'munch', 'quantity': 50},
 '1007': {'Rs': 10, 'exp': '02/22', 'name': 'preak', 'quantity': 50},
 '1008': {'Rs': 10, 'exp': '02/22', 'name': 'dairy milk', 'quantity': 50},
 '1009': {'Rs': 100,
  'exp': '02/22',
  'name': 'dairy milk silk',
  'quantity': 50},
 '1010': {'Rs': 40,
  'exp': '02/22',
  'name': 'dairy milk crackle',
  'quantity': 50},
 '1011': {'Rs': 20, 'exp': '02/22', 'name': 'tomato', 'quantity': 50},
 '1012': {'Rs': 30, 'exp': '02/22', 'name': 'onion', 'quantity': 50},
 '1013': {'Rs': 30, 'exp': '02/22', 'name': 'potato', 'quantity': 50},
 '1014': {'Rs': 10, 'exp': '02/22', 'name': 'cabbage', 'quantity': 50},
 '1015': {'Rs': 100, 'exp': '02/22', 'name': 'nail polish', 'quantity': 50},
 '1016': {'Rs': 10, 'exp': '02/22', 'name': 'mint leaves', 'quantity': 50},
 '1017': {'Rs': 20, 'exp': '02/22', 'name': 'salt', 'quantity': 50},
 '1018': {'Rs': 60, 'exp': '02/22', 'name': 'sugar', 'quantity': 50},
 '1019': {'Rs': 5, 'exp': '02/22', 'name': 'lemon', 'quantity': 50},
 '1020': {'Rs': 100, 'exp': '02/22', 'name': 'apple', 'quantity': 50},
 '1021': {'Rs': 100, 'exp': '02/22', 'name': 'mango', 'quantity': 50},
 '1022': {'Rs': 50, 'exp': '02/22', 'name': 'pine apple', 'quantity': 50},
 '1023': {'Rs': 50, 'exp': '02/22', 'name': 'jack fruit', 'quantity': 50},
 '1024': {'Rs': 100, 'exp': '02/22', 'name': 'orange', 'quantity': 50},
 '1025': {'Rs': 10, 'exp': '02/22', 'name': 'baby corn', 'quantity': 50},
 '1026': {'Rs': 10, 'exp': '02/22', 'name': 'sweet corn', 'quantity': 50},
 '1027': {'Rs': 50, 'exp': '02/22', 'name': 'rice', 'quantity': 50},
 '1028': {'Rs': 50, 'exp': '02/22', 'name': 'wheat', 'quantity': 50},
 '1029': {'Rs': 40, 'exp': '02/22', 'name': 'madia', 'quantity': 50},
 '1030': {'Rs': 10, 'exp': '02/22', 'name': 'tic tac', 'quantity': 50}}

In [32]:
js=json.dumps(record)
fd=open("record.json",'w')
fd.write(js)
fd.close()

In [25]:
fd=open("record.json",'r')
txt=fd.read()
fd.close()

In [29]:
txt

'{"1001": {"name": "lays", "exp": "02/22", "Rs": 10, "quantity": 50}, "1002": {"name": "bingo", "exp": "02/22", "Rs": 10, "quantity": 50}, "1003": {"name": "kit kat", "exp": "02/22", "Rs": 10, "quantity": 50}, "1004": {"name": "bar one", "exp": "02/22", "Rs": 10, "quantity": 50}, "1005": {"name": "kurkure", "exp": "02/22", "Rs": 10, "quantity": 50}, "1006": {"name": "munch", "exp": "02/22", "Rs": 10, "quantity": 50}, "1007": {"name": "preak", "exp": "02/22", "Rs": 10, "quantity": 50}, "1008": {"name": "dairy milk", "exp": "02/22", "Rs": 10, "quantity": 50}, "1009": {"name": "dairy milk silk", "exp": "02/22", "Rs": 100, "quantity": 50}, "1010": {"name": "dairy milk crackle", "exp": "02/22", "Rs": 40, "quantity": 50}, "1011": {"name": "tomato", "exp": "02/22", "Rs": 20, "quantity": 50}, "1012": {"name": "onion", "exp": "02/22", "Rs": 30, "quantity": 50}, "1013": {"name": "potato", "exp": "02/22", "Rs": 30, "quantity": 50}, "1014": {"name": "cabbage", "exp": "02/22", "Rs": 10, "quantity": 50}, "1015": {"name": "nail polish", "exp": "02/22", "Rs": 100, "quantity": 50}, "1016": {"name": "mint leaves", "exp": "02/22", "Rs": 10, "quantity": 50}, "1017": {"name": "salt", "exp": "02/22", "Rs": 20, "quantity": 50}, "1018": {"name": "sugar", "exp": "02/22", "Rs": 60, "quantity": 50}, "1019": {"name": "lemon", "exp": "02/22", "Rs": 5, "quantity": 50}, "1020": {"name": "apple", "exp": "02/22", "Rs": 100, "quantity": 50}, "1021": {"name": "mango", "exp": "02/22", "Rs": 100, "quantity": 50}, "1022": {"name": "pine apple", "exp": "02/22", "Rs": 50, "quantity": 50}, "1023": {"name": "jack fruit", "exp": "02/22", "Rs": 50, "quantity": 50}, "1024": {"name": "orange", "exp": "02/22", "Rs": 100, "quantity": 50}, "1025": {"name": "baby corn", "exp": "02/22", "Rs": 10, "quantity": 50}, "1026": {"name": "sweet corn", "exp": "02/22", "Rs": 10, "quantity": 50}, "1027": {"name": "rice", "exp": "02/22", "Rs": 50, "quantity": 50}, "1028": {"name": "wheat", "exp": "02/22", "Rs": 50, "quantity": 50}, "1029": {"name": "madia", "exp": "02/22", "Rs": 40, "quantity": 50}, "1030": {"name": "tic tac", "exp": "02/22", "Rs": 10, "quantity": 50}}'

**SALES**

In [58]:
import json

In [59]:
fd=open("sales.json",'r')
txt=fd.read()
fd.close()

In [60]:
sales=json.loads(txt)

In [51]:
{'prod' :ui_prod,'quantity' :ui_quan ,'amount' :record[ui_prod]['Rs']*ui_quan}

{'amount': 250, 'prod': '1003', 'quantity': 25}

In [52]:
sales={1:{'prod' :ui_prod,'quantity' :ui_quan ,'amount' :record[ui_prod]['Rs']*ui_quan},
       2:{'prod' :ui_prod,'quantity' :ui_quan ,'amount' :record[ui_prod]['Rs']*ui_quan},
       3:{'prod' :ui_prod,'quantity' :ui_quan ,'amount' :record[ui_prod]['Rs']*ui_quan}}

In [53]:
json.dumps(sales)

'{"1": {"prod": "1003", "quantity": 25, "amount": 250}, "2": {"prod": "1003", "quantity": 25, "amount": 250}, "3": {"prod": "1003", "quantity": 25, "amount": 250}}'

In [55]:
{(len(sales)+1):{'prod' :ui_prod,'quantity' :ui_quan ,'amount' :record[ui_prod]['Rs']*ui_quan}}

{4: {'amount': 250, 'prod': '1003', 'quantity': 25}}

In [56]:
sales[(len(sales)+1)]={'prod' :ui_prod,'quantity' :ui_quan ,'amount' :record[ui_prod]['Rs']*ui_quan}

In [68]:
sales

{1: {'amount': 250, 'prod': '1003', 'quantity': 25},
 2: {'amount': 250, 'prod': '1003', 'quantity': 25},
 3: {'amount': 250, 'prod': '1003', 'quantity': 25},
 4: {'amount': 250, 'prod': '1003', 'quantity': 25}}

In [69]:
{'prod' :ui_prod,'quantity' :ui_quan ,'amount' :record[ui_prod]['Rs']*ui_quan}

{'amount': 250, 'prod': '1003', 'quantity': 25}

In [70]:
sales={1:{'prod' :ui_prod,'quantity' :ui_quan ,'amount' :record[ui_prod]['Rs']*ui_quan},
       2:{'prod' :ui_prod,'quantity' :ui_quan ,'amount' :record[ui_prod]['Rs']*ui_quan},
       3:{'prod' :ui_prod,'quantity' :ui_quan ,'amount' :record[ui_prod]['Rs']*ui_quan}}

In [71]:
sale=json.dumps(sales)

In [72]:
{(len(sales)+1):{'prod' :ui_prod,'quantity' :ui_quan ,'amount' :record[ui_prod]['Rs']*ui_quan}}

{4: {'amount': 250, 'prod': '1003', 'quantity': 25}}

In [66]:
sales[(len(sales)+1)]={'prod' :ui_prod,'quantity' :ui_quan ,'amount' :record[ui_prod]['Rs']*ui_quan}

In [67]:
sales

{1: {'amount': 250, 'prod': '1003', 'quantity': 25},
 2: {'amount': 250, 'prod': '1003', 'quantity': 25},
 3: {'amount': 250, 'prod': '1003', 'quantity': 25},
 4: {'amount': 250, 'prod': '1003', 'quantity': 25}}

In [76]:
fd=open("sales.json",'w')
txt=fd.write(sale)
fd.close()